<a href="https://colab.research.google.com/github/prfs91/IntensivaoPython-HashtagProgramacao/blob/main/Projeto_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio:

Você faz parte da equipe de Analytics de uma grande marca de vestuário com mais de 25 lojas espalhadas em Shoppings de todo o Brasil.

Toda semana você precisa enviar para a diretoria um ranking atualizado com as 25 lojas contendo 3 informações:
- Faturamento de cada Loja
- Quantidade de Produtos Vendidos de cada Loja
- Ticket Médio dos Produto de cada Loja

Além disso, cada loja tem 1 gerente que precisa receber o resumo das informações da loja dele. Por isso, cada gerente deve receber no e-mail:
- Faturamento da sua loja
- Quantidade de Produtos Vendidos da sua loja
- Ticket Médio dos Produto da sua Loja

Esse relatório é sempre enviado como um resumo de todos os dados disponíveis no ano.

# Passo a passo de construção do código:

- Passo 1 - Importar a base de Dados
- Passo 2 - Calcular o faturamento de cada loja
- Passo 3 - Calcular a quantidade de produtos vendidos de cada loja
- Passo 4 - Calcular o Ticket Médio dos produtos de cada loja
- Passo 5 - Enviar e-mail para a diretoria
- Passo 6 - Enviar e-mail para cada loja

Passo 1 - Importar a base de Dados

In [9]:
import pandas as pd

tabela_vendas = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Vendas.xlsx")

display(tabela_vendas)

        Código Venda       Data  ... Valor Unitário Valor Final
0                  1 2019-01-01  ...            358         358
1                  1 2019-01-01  ...            180         360
2                  1 2019-01-01  ...            368         368
3                  2 2019-01-02  ...            200         600
4                  2 2019-01-02  ...             71          71
...              ...        ...  ...            ...         ...
100994         69996 2019-12-26  ...            102         204
100995         69996 2019-12-26  ...            270        1080
100996         69996 2019-12-26  ...             87          87
100997         69997 2019-12-26  ...            108         108
100998         69997 2019-12-26  ...            133         266

[100999 rows x 7 columns]

Passo 2 - Calcular o faturamento de cada loja

In [10]:
tabela_faturamento = tabela_vendas[["ID Loja", "Valor Final"]].groupby("ID Loja").sum()
tabela_faturamento = tabela_faturamento.sort_values(by="Valor Final", ascending=False) #Ordena 
display(tabela_faturamento)

                                  Valor Final
ID Loja
Iguatemi Campinas                     1762419
Shopping Vila Velha                   1731167
Bourbon Shopping SP                   1726110
Rio Mar Recife                        1722766
Shopping SP Market                    1721763
Palladium Shopping Curitiba           1721120
Norte Shopping                        1711968
Ribeirão Shopping                     1707122
Iguatemi Esplanada                    1699681
Rio Mar Shopping Fortaleza            1698430
Shopping Center Leste Aricanduva      1682870
Novo Shopping Ribeirão Preto          1678225
Shopping Iguatemi Fortaleza           1674824
Center Shopping Uberlândia            1668921
Shopping União de Osasco              1663770
Shopping Barra                        1653103
Passei das Águas Shopping             1649014
Shopping Eldorado                     1648111
Salvador Shopping                     1646739
Shopping Center Interlagos            1640486
Shopping Ibirapuera                   1635060
Parque Dom Pedro Shopping             1631630
Shopping Recife                       1624879
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444

Passo 3 - Calcular a quantidade de produtos vendidos de cada loja

In [23]:
tabela_quantidade = tabela_vendas[["ID Loja", "Quantidade"]].groupby("ID Loja").sum()
display(tabela_quantidade)

                                  Quantidade
ID Loja
Bourbon Shopping SP                     8863
Center Shopping Uberlândia              8627
Iguatemi Campinas                       8935
Iguatemi Esplanada                      8580
Norte Shopping                          9014
Novo Shopping Ribeirão Preto            8751
Palladium Shopping Curitiba             9091
Parque Dom Pedro Shopping               8388
Passei das Águas Shopping               8618
Ribeirão Shopping                       8825
Rio Mar Recife                          8863
Rio Mar Shopping Fortaleza              8937
Salvador Shopping                       8698
Shopping Barra                          8638
Shopping Center Interlagos              8675
Shopping Center Leste Aricanduva        8938
Shopping Eldorado                       8719
Shopping Ibirapuera                     8723
Shopping Iguatemi Fortaleza             8629
Shopping Midway Mall                    8206
Shopping Morumbi                        8508
Shopping Recife                         8581
Shopping SP Market                      8927
Shopping União de Osasco                8730
Shopping Vila Velha                     9224

Passo 4 - Calcular o Ticket Médio dos produtos de cada loja

In [21]:
ticket_medio = (tabela_faturamento["Valor Final"] / tabela_quantidade["Quantidade"]).to_frame()
ticket_medio = ticket_medio.rename(columns={0: "Ticket Médio"})
display(ticket_medio)

                                  Ticket Médio
ID Loja
Bourbon Shopping SP                 194.754598
Center Shopping Uberlândia          193.453228
Iguatemi Campinas                   197.248909
Iguatemi Esplanada                  198.098019
Norte Shopping                      189.923231
Novo Shopping Ribeirão Preto        191.775226
Palladium Shopping Curitiba         189.321307
Parque Dom Pedro Shopping           194.519552
Passei das Águas Shopping           191.345324
Ribeirão Shopping                   193.441586
Rio Mar Recife                      194.377299
Rio Mar Shopping Fortaleza          190.044758
Salvador Shopping                   189.323868
Shopping Barra                      191.375666
Shopping Center Interlagos          189.105014
Shopping Center Leste Aricanduva    188.282614
Shopping Eldorado                   189.025232
Shopping Ibirapuera                 187.442394
Shopping Iguatemi Fortaleza         194.092479
Shopping Midway Mall                193.814404
Shopping Morumbi                    186.464974
Shopping Recife                     189.357767
Shopping SP Market                  192.871401
Shopping União de Osasco            190.580756
Shopping Vila Velha                 187.680724

In [18]:
def enviar_email(nome_da_loja, tabela):
  import smtplib
  import email.message

  server = smtplib.SMTP('smtp.gmail.com:587')  
  corpo_email = f'''
  <p>Prezados,</p>
  <p> Segue relatório de vendas </p>
  {tabela.to_html()}
  <p>Qualquer dúvida estou à disposição.</p>'''
  
    
  msg = email.message.Message()
  msg['Subject'] = f'Relatório de Vendas - {nome_da_loja}'
    
  # Fazer antes (apenas na 1ª vez): Ativar Aplicativos não Seguros.
  # Gerenciar Conta Google -> Segurança -> Aplicativos não Seguros -> Habilitar
  # Caso mesmo assim dê o erro: smtplib.SMTPAuthenticationError: (534,
  # Você faz o login no seu e-mail e depois entra em: https://accounts.google.com/DisplayUnlockCaptcha
  msg['From'] = email_rementente #alterar
  msg['To'] = email_destinatario #alterar
  password = senha #alterar
  msg.add_header('Content-Type', 'text/html')
  msg.set_payload(corpo_email )
    
  s = smtplib.SMTP('smtp.gmail.com: 587')
  s.starttls()
  # Login Credentials for sending the mail
  s.login(msg['From'], password)
  s.sendmail(msg['From'], [msg['To']], msg.as_string().encode('utf-8'))
  print('Email enviado')

Passo 5 - Enviar e-mail para a diretoria

In [24]:
tabela_completa = tabela_faturamento.join(tabela_quantidade).join(ticket_medio)
#enviar_email("Diretoria", tabela_faturamento)
display(tabela_completa)

                                  Valor Final  Quantidade  Ticket Médio
ID Loja
Iguatemi Campinas                     1762419        8935    197.248909
Shopping Vila Velha                   1731167        9224    187.680724
Bourbon Shopping SP                   1726110        8863    194.754598
Rio Mar Recife                        1722766        8863    194.377299
Shopping SP Market                    1721763        8927    192.871401
Palladium Shopping Curitiba           1721120        9091    189.321307
Norte Shopping                        1711968        9014    189.923231
Ribeirão Shopping                     1707122        8825    193.441586
Iguatemi Esplanada                    1699681        8580    198.098019
Rio Mar Shopping Fortaleza            1698430        8937    190.044758
Shopping Center Leste Aricanduva      1682870        8938    188.282614
Novo Shopping Ribeirão Preto          1678225        8751    191.775226
Shopping Iguatemi Fortaleza           1674824        8629    194.092479
Center Shopping Uberlândia            1668921        8627    193.453228
Shopping União de Osasco              1663770        8730    190.580756
Shopping Barra                        1653103        8638    191.375666
Passei das Águas Shopping             1649014        8618    191.345324
Shopping Eldorado                     1648111        8719    189.025232
Salvador Shopping                     1646739        8698    189.323868
Shopping Center Interlagos            1640486        8675    189.105014
Shopping Ibirapuera                   1635060        8723    187.442394
Parque Dom Pedro Shopping             1631630        8388    194.519552
Shopping Recife                       1624879        8581    189.357767
Shopping Midway Mall                  1590441        8206    193.814404
Shopping Morumbi                      1586444        8508    186.464974

Passo 6 - Enviar e-mail para cada loja

In [32]:
lista_lojas = tabela_vendas["ID Loja"].unique()

for loja in lista_lojas:
  tabela_loja = tabela_vendas.loc[tabela_vendas["ID Loja"] == loja, ["ID Loja", "Quantidade", "Valor Final"]]
  tabela_loja = tabela_loja.groupby("ID Loja").sum()
  tabela_loja["Ticket Médio"] = tabela_loja["Valor Final"] / tabela_loja ["Quantidade"]
  display(tabela_loja)
  enviar_email(loja, tabela_loja)

                    Quantidade  Valor Final  Ticket Médio
ID Loja
Iguatemi Esplanada        8580      1699681    198.098019

Email enviado

                Quantidade  Valor Final  Ticket Médio
ID Loja
Norte Shopping        9014      1711968    189.923231

Email enviado

                            Quantidade  Valor Final  Ticket Médio
ID Loja
Rio Mar Shopping Fortaleza        8937      1698430    190.044758

Email enviado

                Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Barra        8638      1653103    191.375666

Email enviado

                     Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Ibirapuera        8723      1635060    187.442394

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Iguatemi Campinas        8935      1762419    197.248909

Email enviado

                                  Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Center Leste Aricanduva        8938      1682870    188.282614

Email enviado

                           Quantidade  Valor Final  Ticket Médio
ID Loja
Passei das Águas Shopping        8618      1649014    191.345324

Email enviado

                 Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Recife        8581      1624879    189.357767

Email enviado

                      Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Midway Mall        8206      1590441    193.814404

Email enviado

                     Quantidade  Valor Final  Ticket Médio
ID Loja
Bourbon Shopping SP        8863      1726110    194.754598

Email enviado

                            Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Center Interlagos        8675      1640486    189.105014

Email enviado

                           Quantidade  Valor Final  Ticket Médio
ID Loja
Parque Dom Pedro Shopping        8388      1631630    194.519552

Email enviado

                            Quantidade  Valor Final  Ticket Médio
ID Loja
Center Shopping Uberlândia        8627      1668921    193.453228

Email enviado

                          Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping União de Osasco        8730      1663770    190.580756

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Eldorado        8719      1648111    189.025232

Email enviado

                     Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Vila Velha        9224      1731167    187.680724

Email enviado

                              Quantidade  Valor Final  Ticket Médio
ID Loja
Novo Shopping Ribeirão Preto        8751      1678225    191.775226

Email enviado

                Quantidade  Valor Final  Ticket Médio
ID Loja
Rio Mar Recife        8863      1722766    194.377299

Email enviado

                             Quantidade  Valor Final  Ticket Médio
ID Loja
Palladium Shopping Curitiba        9091      1721120    189.321307

Email enviado

                    Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping SP Market        8927      1721763    192.871401

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Ribeirão Shopping        8825      1707122    193.441586

Email enviado

                             Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Iguatemi Fortaleza        8629      1674824    194.092479

Email enviado

                  Quantidade  Valor Final  Ticket Médio
ID Loja
Shopping Morumbi        8508      1586444    186.464974

Email enviado

                   Quantidade  Valor Final  Ticket Médio
ID Loja
Salvador Shopping        8698      1646739    189.323868

Email enviado